## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100),80)
print(sample_list_1)

[37, 55, 95, 98, 25, 28, 31, 82, 35, 61, 30, 18, 72, 46, 44, 40, 84, 13, 10, 64, 78, 49, 33, 0, 94, 91, 3, 79, 1, 6, 76, 59, 54, 43, 19, 22, 57, 50, 24, 66, 47, 5, 39, 29, 81, 93, 38, 42, 17, 2, 77, 14, 15, 52, 69, 20, 96, 26, 67, 92, 12, 86, 56, 53, 68, 41, 85, 99, 36, 89, 83, 23, 75, 97, 71, 73, 11, 21, 80, 90]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [6]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[96, 49, 74, 87, 29, 97, 97, 90, 54, 1, 40, 38, 27, 7, 81, 13, 7, 82, 90, 53, 76, 28, 32, 37, 71, 71, 91, 88, 99, 100, 58, 71, 69, 8, 47, 77, 4, 81, 86, 62, 58, 57, 63, 28, 40, 70, 80, 46, 75, 63, 88, 46, 48, 86, 5, 19, 37, 58, 67, 21, 79, 24, 7, 82, 68, 85, 59, 1, 85, 25, 62, 70, 82, 39, 74, 62, 2, 95, 69, 81]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [7]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))

54

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [14]:
set3 = set1.difference(set2)
set3

{0,
 3,
 6,
 10,
 11,
 12,
 14,
 15,
 17,
 18,
 20,
 22,
 23,
 26,
 30,
 31,
 33,
 35,
 36,
 41,
 42,
 43,
 44,
 50,
 52,
 55,
 56,
 61,
 64,
 66,
 72,
 73,
 78,
 83,
 84,
 89,
 92,
 93,
 94,
 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [15]:
set4 = set2.difference(set1)
set4

{4, 7, 8, 27, 32, 48, 58, 62, 63, 70, 74, 87, 88, 100}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [16]:
set5 = set1.intersection(set2)
set5

{1,
 2,
 5,
 13,
 19,
 21,
 24,
 25,
 28,
 29,
 37,
 38,
 39,
 40,
 46,
 47,
 49,
 53,
 54,
 57,
 59,
 67,
 68,
 69,
 71,
 75,
 76,
 77,
 79,
 80,
 81,
 82,
 85,
 86,
 90,
 91,
 95,
 96,
 97,
 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [21]:
relationship = len(set3) + len(set4) + len(set5) * 2 == len(set1) + len(set2)
relationship

True

#### Create an empty set called `set6`.

In [20]:
# Your code here
set6 = set()
set6

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [23]:
# Your code here
update = set6.update(set3,set5)
update

#### Check if `set1` and `set6` are equal.

In [24]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [25]:
# Your code here
set2.issubset(set1)

False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`.

#### Check if the aggregated values are equal.

In [26]:
# Your code here
union = set3.union(set4,set5)
union

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 10,
 11,
 12,
 13,
 14,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 61,
 62,
 63,
 64,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100}

#### Using the `pop` method, remove the first element from `set1`.

In [28]:
# Your code here
remove = set1.pop()
pop

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [31]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
remove1 = set1.difference(list_to_remove)
remove1

{2,
 3,
 5,
 6,
 10,
 12,
 13,
 14,
 15,
 17,
 18,
 20,
 22,
 23,
 24,
 25,
 26,
 28,
 30,
 33,
 35,
 36,
 37,
 38,
 40,
 42,
 43,
 44,
 46,
 47,
 50,
 52,
 53,
 54,
 55,
 56,
 57,
 64,
 66,
 67,
 68,
 72,
 73,
 75,
 76,
 77,
 78,
 80,
 82,
 83,
 84,
 85,
 86,
 90,
 92,
 93,
 94,
 95,
 96,
 97,
 98}