Tasks 23/06/2025
Judith Torres JimÃ©nez

In [ ]:
def hours_to_seconds(hours):
    return hours * 3600

hours = 4
seconds = hours_to_seconds(hours)
print(f"{hours} hours is {seconds} seconds.")

4 hours is 14400 seconds.

In [ ]:
def numbers_list (numbers):
    return [num ** 2 for num in numbers]

original_list = [1, 2, 3, 4, 5]
squared_list = numbers_list(original_list)
print(f"Original list: {original_list}")
print(f"Squared list: {squared_list}")

Original list: [1, 2, 3, 4, 5]
Squared list: [1, 4, 9, 16, 25]

In [ ]:
s1 = 2
s2 = 4

def new_string(s1,s2):
    s3 = ""
    length = min(len(s1), len(s2))

    for i in range(length):
        s3 += s1[i] + s2[-(i + 1)]

    if len(s1) > length:
        s3 += s1[length:]
    if len(s2) > length:
        s3 += s2[:-(length + 1):-1]  # Remaining reversed part of s2

    return s3

s1 = "Hello"
s2 = "World"
s3 = new_string(s1, s2)
print(f"s1: {s1}")
print(f"s2: {s2}")
print(f"s3: {s3}")

s1: Hello
s2: World
s3: HdellrlooW

In [ ]:
def key_minimum_value(dictionary):

    if not dictionary:
        return None  # Return None if the dictionary is empty

    return min(dictionary, key=dictionary.get)

sample = {'a': 10, 'b': 3, 'c': 8}
min_key = key_minimum_value(sample)
print(min_key)

b

In [ ]:
def sum_series(n):
    total = 0
    term = 0

    for i in range(1, n + 1):
        term = term * 10 + 1
        total += term

    return total

n = 3
result = sum_series(n)
print(result)

123

In [ ]:
import random

def multiplication():
    num1 = random.uniform(0.0, 10.0)  # random number between 0 and 5
    num2 = random.uniform(0.0, 10.0)  # between 0 and 10
    result = num1 * num2

    print(num1)
    print(num2)
    print(result)

multiplication()

1.7497553181720493
7.127615222882584
12.471582642122858